<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>chat page</title>
  </head>
  <body>
    <!-- ${msgs || "No chats exist"} -->
    <form action="/" method="post">
      <input type="text" name="message" id="message" />
      <input type="hidden" name="username" id="username" value="" />
      <button type="submit" id="send">Send</button>
    </form>
    <script>
      let button = document.getElementById("submit");

      window.onload = () => {
        let username = localStorage.getItem("username");
        document.getElementById("username").value = username;
      };
    </script>
  </body>
</html>
